.container {
    display: flex;
    justify-content: center;
  
    flex-wrap: wrap;
  
    column-gap: 30px;
    margin: 50px auto;
    .content {
        padding-top: 5px;
        display: flex;
        flex-direction: column;
      
        .item {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 15px;
            gap: 25px;
            .icon {
                width: 70px;
                height: 70px;
                border-radius: 50%;
              }

          }
      }
  }
  
 .item4{
    max-width: 450px;
    justify-content: center;
    display: flex;

    img {
        width: 70%;
        padding-top: 2%;
        
      }

 }

